@import 'layouts/register.styl'
@import 'layouts/home.styl'
@import 'layouts/ventas.styl'
@import 'layouts/panel.styl'
@import 'layouts/productos.styl'

@import 'generals/btn.styl'
@import 'generals/panel.styl'
@import 'generals/others.styl'
@import 'generals/bootstrap-customize.styl'