/*
* Archivo Stylus Generado - Feb. 2020
* -----------------------------------
* Autor: @jhonazsh (Jhon F. Medina Zapata)
* Colaboradores (Lista de Mantenedores y Modificadores de este archivo:
* - ...
* - ...
*/

//Variables de color
color-ccc = #ccc
color-000 = #000
color-eee = #eee

//list group bootstrap customize
.list-group-customize
	&-item
		border-bottom: 1px solid color-ccc
		border-left: 1px solid color-ccc
		border-top: 1px solid color-ccc
		border-right: 0
		color: color-000 !important
		&:last-child,
		&:first-child
			border-radius: 0 !important
		&:first-child
			border-top: 0
		&:hover
			background: color-eee !important
			cursor: pointer

//h de titles reemplazados
h1,h2,h3,h4,h5,h6
	margin-top 10px
	margin-bottom 10px			
		
	